.landing-wrapper {
  display: flex;
}

.landing-wrapper__title-container{
  max-width: 20rem;
}

.landing-wrapper__image-container {
  margin-left: auto;
}

.landing-wrapper__title-container__subtitle {
  font-weight: 800;
  letter-spacing: 10px;
  color: var(--grey);
  text-transform: uppercase;
  font-size: 19px;
}

.landing-wrapper__title-container__subtitle {
  font-weight: 800;
  letter-spacing: 10px;
  color: var(--grey);
  text-transform: uppercase;
  font-size: 19px;
}

.landing-wrapper__title-container__title {
  color: var(--black);
  font-size: 50px;
}

.landing-wrapper__my-work-container {
  margin-top: 1rem;
}

.landing-wrapper__my-work-container__button {
  display: flex;
  align-items: center;
  justify-content: center;
}


.landing-wrapper__title-container__img {
  margin-right: 2rem;
}

.landing-wrapper__title-container__img img{
  display: block;
  margin-left: auto;
}

@media only screen and (max-width: 943px) {

  .landing-wrapper {
    display: block;
  }

  .landing-wrapper__title-container {
    display: block;
    width: 100%;
    text-align: center;
    max-width: 100%;
  }

  .landing-wrapper__title-container__img {
    display: none;
  }

  .landing-wrapper__image-container {
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    margin-top: 2rem;
  }

  .landing-wrapper__image-container img{
    width: 400px;
  }

}