.btn-smm {
  padding: 10px;
  border: 0;
  border-radius: 9999px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  display: flex;
  box-shadow: 1px 1px 0px 0px #ccc;
  align-items: center;
  justify-content: center;
}

.btn-smm:focus {
  opacity: 1;
  outline: dashed var(--black);
}

.primary-smm {
  background-color: var(--primary-color);
  color: var(--white);
  transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition-duration: .15s;
}

.secondary-smm {
  background-color: var(--white);
  color: var(--primary-color);
  transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition-duration: .15s;
}

.tertiary-smm {
  background-color: var(--grey);
  color: var(--white);
  transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition-duration: .15s;
  box-shadow: none;
}

.primary-smm:hover {
  opacity: .7;
}

.secondary-smm:hover {
  background-color: #f5f5f5;
}

.tertiary-smm:hover {
  opacity: .9;
}

.tertiary-smm:focus {
  opacity: 1;
  outline: dashed var(--black);
}

