.border-separator {
  display: none;
  /* border: 0.4px solid black */
}

@media (min-width: 1300px) { 
  .border-separator {
    display: initial;
    border: 0.4px solid black;
    margin: 2rem 1rem
  }
}