.smm__container-wrapper__contact-container {
  margin-top: 2rem;
  background-color: var(--primary-color);
  width: 100%;
  padding-bottom: 2rem;
  min-height: 80vh;
}

.smm__container-wrapper__footer-component {
  width: 100%;
  bottom: 0;
  padding: 0.5rem;
  background-color: var(--primary-color-dark);
}

@media (min-width: 768px) { 

  .landing-img {
    height: 100%;
    margin-top: 1rem;
  }

  .landing-img img{
    width: 550px;
  }
}

@media (min-width: 1300px) {
  .landing-message__my-work-container {
    display: initial;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .landing-img img{
    width: 700px;
  }

  .landing-message__subtitle {
    font-size: 19px;
  }  

  .landing-message__title {
    font-size: 50px;
  }
}







